
/* .leaflet-interactive {
    stroke : none;
}  */

.frame1 {
    background-image: url("../../codeProjetVesuve/img/20160403_180659.jpg") !important;
    width: auto;
    height: 100%;
    background-size: 100%;
}

#scrolly {
    position: relative;
    -webkit-overflow-scrolling: touch;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.map {
    height: 100%;
    width: 100%;
    border-radius: 20%;
}

