#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  padding: 1rem;
}

#scrolly > * {
  position: relative;
}

.scroll__graphic {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scroll__graphic.is-fixed {
  position: fixed;
}

.scroll__graphic.is-bottom {
  top: auto;
  bottom: 0;
}

.scroll__graphic .volcan {
  position: absolute;
  right: 1rem;
  top: 50%;
  -moz-transform: translateY(-50%, 0);
  -webkit-transform: translateY(-50%, 0);
  transform: translateY(-50%, 0); 
}

.scroll__text {
  padding: 0 1 rem;
  max-width: 30rem;
}

.step {
  opacity: 0;
  padding: 1rem;
}

.step.is-active {
  opacity: 1;
}